button {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 15px;
}

.container {
  margin: 0 auto;
  border: solid;
  border-width: 2px;
  border-color: green;
  border-radius: 20px;
  padding: 15px;
  max-width: 90%;
  width: 90%;
  overflow-x: hidden;
}

fieldset {
  margin: 0 auto;
  border-color: green;
  border-radius: 10px;
  border-style: solid;
  color: green;
  display: flex;
  flex-direction: column;
  width: 80%;
}

table {
  background-color: green;
  color: white;
  margin: 0 auto;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}



#output {
  display: none;
  
}

p {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

h3 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}
  

.pairing-card {
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  color: green;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}